version: '3'
services:

  gromox-db:
    image: mariadb:10
    container_name: gromox-db
    environment:
      MARIADB_ROOT_PASSWORD: Lu3s3WmFxXghtLwJnuqN
      MARIADB_DATABASE: grommunio
      MARIADB_USER: grommunio
      MARIADB_PASSWORD: Lu3s3WmFxXghtLwJnuqN
    volumes:
      - gromox_mysql_data:/var/lib/mysql
    restart: on-failure
    healthcheck:
      test: mariadb --host=localhost --user=$${MARIADB_USER} --password=$${MARIADB_PASSWORD} -e 'SELECT 1;'
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      mynet:
        aliases:
          - gromox-db

  chat-db:
    image: mariadb:10
    container_name: chat-db
    environment:
      MARIADB_ROOT_PASSWORD: Lu3s3WmFxXghtLwJnuqN
      MARIADB_DATABASE: grochat
      MARIADB_USER: grochat
      MARIADB_PASSWORD: grommunio
    volumes:
      - chat_mysql_data:/var/lib/mysql
    restart: on-failure
    healthcheck:
      test: mariadb --host=localhost --user=$${MARIADB_USER} --password=$${MARIADB_PASSWORD} -e 'SELECT 1;'
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      mynet:
        aliases:
          - chat-db
    
  files-db:
    image: mariadb:10
    container_name: files-db
    environment:
      MARIADB_ROOT_PASSWORD: Lu3s3WmFxXghtLwJnuqN
      MARIADB_DATABASE: grofiles
      MARIADB_USER: grofiles
      MARIADB_PASSWORD: grommunio
    volumes:
      - files_mysql_data:/var/lib/mysql
    restart: on-failure
    healthcheck:
      test: mariadb --host=localhost --user=$${MARIADB_USER} --password=$${MARIADB_PASSWORD} -e 'SELECT 1;'
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      mynet:
        aliases:
          - files-db

  office-db:
    image: mariadb:10
    container_name: office-db
    environment:
      MARIADB_ROOT_PASSWORD: Lu3s3WmFxXghtLwJnuqN
      MARIADB_DATABASE: groffice
      MARIADB_USER: groffice
      MARIADB_PASSWORD: grommunio
    volumes:
      - office_mysql_data:/var/lib/mysql
    restart: on-failure
    healthcheck:
      test: mariadb --host=localhost --user=$${MARIADB_USER} --password=$${MARIADB_PASSWORD} -e 'SELECT 1;'
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      mynet:
        aliases:
          - office-db

  archive-db:
    image: mariadb:10
    container_name: archive-db
    environment:
      MARIADB_ROOT_PASSWORD: Lu3s3WmFxXghtLwJnuqN
      MARIADB_DATABASE: groarchive
      MARIADB_USER: groarchive
      MARIADB_PASSWORD: grommunio
    volumes:
      - archive_mysql_data:/var/lib/mysql
    restart: on-failure
    healthcheck:
      test: mariadb --host=localhost --user=$${MARIADB_USER} --password=$${MARIADB_PASSWORD} -e 'SELECT 1;'
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      mynet:
        aliases:
          - archive-db

  gromox-core:
    build:
      context: ./
      dockerfile: ./gromox-core/Dockerfile
    restart: unless-stopped
    runtime: sysbox-runc
    cap_add:
      - SYS_ADMIN
      - SYS_RESOURCE
    volumes:
      - opensuse-data:/data
      - variables_data:/home/vars
    ports:
      - "2222:22"  # SSH
      - "8443:8443" # Grommunio Admin
      - "443:443" # Grommunio Web
      - "993:993" # Grommunio IMAP
    tty: true
    stdin_open: true
    networks:
      mynet:
        aliases:
          - gromox-core
    env_file:
      - var.env
    depends_on:
      gromox-db:
        condition: service_healthy
      chat-db:
        condition: service_healthy
      files-db:
        condition: service_healthy
      office-db:
        condition: service_healthy
      archive-db:
        condition: service_healthy

  gromox-archive:
    build:
      context: ./
      dockerfile: ./gromox-archive/Dockerfile
    restart: unless-stopped
    runtime: sysbox-runc
    cap_add:
      - SYS_ADMIN
      - SYS_RESOURCE
    volumes:
      - opensuse-data:/data
      - variables_data:/home/vars
    tty: true
    stdin_open: true
    networks:
      mynet:
        aliases:
          - gromox-archive
    env_file:
      - var.env
    depends_on:
      gromox-db:
        condition: service_healthy
      archive-db:
        condition: service_healthy

  gromox-office:
    build:
      context: ./
      dockerfile: ./gromox-office/Dockerfile
    restart: unless-stopped
    runtime: sysbox-runc
    cap_add:
      - SYS_ADMIN
      - SYS_RESOURCE
    volumes:
      - opensuse-data:/data
      - variables_data:/home/vars
    tty: true
    stdin_open: true
    networks:
      mynet:
        aliases:
          - gromox-office
    env_file:
      - var.env
    depends_on:
      gromox-db:
        condition: service_healthy
      files-db:
        condition: service_healthy
      office-db:
        condition: service_healthy

networks:
  mynet:
    driver: bridge
    enable_ipv6: true
    ipam:
      config:
        -  subnet: 17.18.0.0/24
           gateway: 17.18.0.1
        - subnet: "2001:db8:1::/64"
          gateway: "2001:db8:1::1"  # IPv6 gateway


volumes:
  gromox_mysql_data:
  chat_mysql_data:
  files_mysql_data:
  office_mysql_data:
  archive_mysql_data:
  opensuse-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ${PWD}/opensuse-data
  variables_data:
    external: true
