[Unit]
Description=Run Entrypoint Script Once after Systemd is Started.
Requires=db.service

[Service]
Type=oneshot
ExecStart=/home/scripts/entrypoint.sh
RemainAfterExit=true
ExecStartPre=/bin/bash -c 'test -e /tmp/entry_script_executed || exit 0'
ExecStartPost=/bin/touch /tmp/entry_script_executed

[Install]
WantedBy=multi-user.target
